<div class="card mt-24 px-10">
    <p-table 
    [value]="guestsList" 
    styleClass="p-datatable-striped p-datatable-sm"
    sortMode="multiple"
>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" class="header-cell">
                    <div class="header-content">Name<p-sortIcon field="name"/></div>
                </th>
                <th pSortableColumn="email" class="header-cell">
                    <div class="header-content">Email<p-sortIcon field="email"/></div>
                </th>
                <th pSortableColumn="accepted" class="header-cell">
                    <div class="header-content">Accepted<p-sortIcon field="accepted"/></div>
                </th>
                <th pSortableColumn="allergies" class="header-cell">
                    <div class="header-content">Allergies<p-sortIcon field="allergies"/></div>
                </th>
                <th [width]="200">
                    <div class="flex justify-center">
                      <p-iconField iconPosition="right" class="mr-0">
                        <p-inputIcon styleClass="pi pi-search"/>
                          <input 
                              pInputText 
                              type="text" 
                              (input)="onInputChange($event)"
                              placeholder="Search" 
                              class="bg-slate-200 p-2 rounded"
                          />
                      </p-iconField>
                    </div>
                  </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-invitation>
            <tr>
                <td>{{ invitation.name }}</td>
                <td>{{ invitation.email }}</td>
                <td>{{ invitation.accepted }}</td>
                <td>{{ invitation.allergies }}</td>
            </tr>
        </ng-template>
    </p-table>

    <p-paginator id="p-dropdown-paginator" (onPageChange)="paginate($event)" [first]="first" [rows]="rows" [showCurrentPageReport]="true"
    [totalRecords]="totalRecords" [rowsPerPageOptions]="[5, 10, 20]"></p-paginator>
</div>