<div class="w-full content-center">
    <p class="text-5xl font-bold text-center mb-8">Conoce Guestify</p>
    <h4 class="text-xl font-bold">Sobre nosotros</h4>
    <p class="mb-8">
      En Guestify, entendemos que la planificación de una boda puede ser tan
      emocionante como desafiante. Nuestra empresa nació del deseo de hacer que
      este proceso sea más fácil, agradable y libre de estrés. Todo comenzó cuando
      uno de nuestros fundadores, mientras organizaba su propia boda, se dio
      cuenta de las innumerables complicaciones que surgían al gestionar
      invitados, coordinar detalles y asegurarse de que todo saliera perfecto en
      ese día tan especial.
    </p>
    <h4 class="text-xl font-bold">Nuestra Misión</h4>
    <p class="mb-8">
      Nuestra misión es simplificar la planificación de bodas mediante
      herramientas intuitivas y un servicio dedicado, para que cada pareja pueda
      concentrarse en lo que realmente importa: celebrar su amor y disfrutar de su
      día.
    </p>
    <h4 class="text-xl font-bold">Nuestra Visión</h4>
    <p class="mb-8">
      Nos vemos como el principal aliado de las parejas en todo el mundo,
      ayudándolas a crear bodas memorables sin el estrés que normalmente acompaña
      a la organización de estos eventos.
    </p>
    <h4 class="text-xl font-bold">Nuestros Valores</h4>
    <p class="mb-8">
      <span class="font-semibold">Transparencia:</span> Nos comunicamos de manera
      clara y honesta con nuestros clientes <br /><span class="font-semibold"
        >Seguridad:</span
      >
      Protegemos la información de nuestros usuarios con los más altos estándares
      de seguridad. <br /><span class="font-semibold">Compromiso:</span>
      Estamos dedicados a la satisfacción de nuestros clientes, ofreciendo soporte
      y asistencia en cada paso del camino. Compromiso con el Cliente Nos
      enorgullece ofrecer un soporte técnico excepcional y una respuesta rápida a
      cualquier inquietud o problema. Nuestro equipo de atención al cliente está
      siempre dispuesto a ayudarte a tener la boda de tus sueños.
      <br /><br /><span class="font-semibold">Innovación y Tecnología</span>
      Nuestra plataforma utiliza las últimas tecnologías para ofrecer una
      experiencia de usuario fluida y eficiente. Desde la gestión de la lista de
      regalos hasta la elección del menú, cada función está diseñada para
      facilitar la planificación de tu boda.
    </p>
  </div>