<div class="card mt-24 w-full rounded-md">
    <div class="header-t">
      <h4 class="text-2xl font-semibold mx-2">Regalos</h4>
      <div class="flex justify-end">
        <p-iconField iconPosition="right" class="mr-0">
          <p-inputIcon styleClass="pi pi-search" />
          <input
            pInputText
            type="text"
            (input)="onInputChange($event)"
            placeholder="Search"
          />
        </p-iconField>
      </div>
    </div>
  
    <div class="w-full rounded-md">
      <p-table
        [value]="giftsList"
        styleClass="p-datatable-striped p-datatable-sm"
        sortMode="multiple"
      >
        <ng-template pTemplate="header" class="table-header">
          <tr>
            <th pSortableColumn="name" class="header-cell each-cell first-h-cell">
              <div class="header-content flex items-center mx-4">
                Name<p-sortIcon field="name" />
              </div>
            </th>
            <th
              pSortableColumn="selected"
              class="header-cell each-cell last-h-cell"
            >
              <div class="header-content flex items-center mx-4">
                Selected<p-sortIcon field="selected" />
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-invitation>
          <tr class="info-row">
            <td class="info-cells">{{ invitation.name }}</td>
            <td class="info-cells">{{ invitation.selected }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <p-paginator
      id="p-dropdown-paginator"
      (onPageChange)="paginate($event)"
      [first]="first"
      [rows]="rows"
      [showCurrentPageReport]="true"
      [totalRecords]="totalRecords"
      [rowsPerPageOptions]="[5, 10, 20]"
    ></p-paginator>
  </div>