<div class="w-full m-auto flex flex-col">
    <div class="header-new mt-10 m-auto text-center">
      <h4 class="text-3xl font-bold">Crea tu proyecto</h4>
      <p>Organiza la celebración de tu boda, como nunca antes</p>
    </div>
    <form class="w-full flex flex-col mt-10 justify-center m-auto" action="">
      <div class="form flex flex-row justify-center gap-10">
        <div class="left">
          <div class="flex flex-col mb-6 justify-center content-center">
            <div class="justify-center content-center">
              <label class="mb-1 md:mb-0" for="inline-full-name">
                Tu nombre
              </label>
            </div>
            <div>
              <input
                class="bg-secondary appearance-none rounded w-full py-2 px-4 leading-tight focus:outline-none text-white placeholder-white focus:border-purple-500"
                id="inline-full-name"
                type="text"
                placeholder="Tu nombre"
              />
            </div>
          </div>
          <div class="flex flex-col mb-6 justify-center content-center">
            <div class="justify-center content-center">
              <label class="mb-1 md:mb-0" for="inline-full-name">
                Nombre de tu pareja
              </label>
            </div>
            <div>
              <input
                class="bg-secondary appearance-none rounded w-full py-2 px-4 leading-tight focus:outline-none text-white placeholder-white focus:border-purple-500"
                id="inline-full-name"
                type="text"
                placeholder="Nombre de tu pareja"
              />
            </div>
          </div>
          <div class="flex flex-col mb-6 justify-center content-center">
            <div class="justify-center content-center">
              <label class="mb-1 md:mb-0" for="inline-full-name">
                El día de tu boda
              </label>
            </div>
            <div>
              <input
                class="bg-secondary appearance-none rounded w-full py-2 px-4 leading-tight focus:outline-none text-white placeholder-white focus:border-purple-500"
                id="inline-full-name"
                type="date"
                placeholder="dd/mm/aaaa"
              />
            </div>
          </div>
          <div class="flex flex-col mb-6 justify-center content-center">
            <div class="justify-center content-center">
              <label class="mb-1 md:mb-0" for="inline-full-name">
                ¿Cómo quieres llamar a tu boda?
              </label>
            </div>
            <div>
              <input
                class="bg-secondary appearance-none rounded w-full py-2 px-4 leading-tight focus:outline-none text-white placeholder-white focus:border-purple-500"
                id="inline-full-name"
                type="text"
                placeholder="Nombre de tu boda"
              />
            </div>
          </div>
        </div>
        <div class="right">
          <div class="flex flex-col mb-6 justify-center content-center">
            <div class="justify-center content-center">
              <label class="mb-1 md:mb-0" for="inline-full-name">
                ¿Dónde será la boda?
              </label>
            </div>
            <div>
              <input
                class="bg-secondary appearance-none rounded w-full py-2 px-4 leading-tight focus:outline-none text-white placeholder-white focus:border-purple-500"
                id="inline-full-name"
                type="text"
                placeholder="Lugar de la boda"
              />
            </div>
          </div>
          <div class="flex flex-col mb-6 justify-center content-center">
            <div class="justify-center content-center">
              <label class="mb-1 md:mb-0" for="inline-full-name">
                Dirección completa
              </label>
            </div>
            <div>
              <input
                class="bg-secondary appearance-none rounded w-full py-2 px-4 leading-tight focus:outline-none text-white placeholder-white focus:border-purple-500"
                id="inline-full-name"
                type="text"
                placeholder="Calle/Av/Camino..."
              />
            </div>
          </div>
          <div class="DIRECCION flex flex-row gap-2">
            <div class="flex flex-col mb-6 justify-center content-center">
              <div class="justify-center content-center">
                <label class="mb-1 md:mb-0" for="inline-full-name">
                  Código Postal
                </label>
              </div>
              <div>
                <input
                  class="bg-secondary appearance-none rounded w-full py-2 px-4 leading-tight focus:outline-none text-white placeholder-white focus:border-purple-500"
                  id="inline-full-name"
                  type="text"
                  placeholder="Código postal"
                />
              </div>
            </div>
            <div class="flex flex-col mb-6 justify-center content-center">
              <div class="justify-center content-center">
                <label class="mb-1 md:mb-0" for="inline-full-name">
                  Ciudad
                </label>
              </div>
              <div>
                <input
                  class="bg-secondary appearance-none rounded w-full py-2 px-4 leading-tight focus:outline-none text-white placeholder-white focus:border-purple-500"
                  id="inline-full-name"
                  type="text"
                  placeholder="Ciudad"
                />
              </div>
            </div>
          </div>
          <div class="flex flex-col mb-6 justify-center content-center">
            <div class="justify-center content-center">
              <label class="mb-1 md:mb-0" for="inline-full-name">
                Provincia
              </label>
            </div>
            <div>
              <input
                class="bg-secondary appearance-none rounded w-full py-2 px-4 leading-tight focus:outline-none text-white placeholder-white focus:border-purple-500"
                id="inline-full-name"
                type="text"
                placeholder="Provincia / Región"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="btn flex justify-center m-auto max-w-20">
        <button
          class="shadow border-2 transition-all border-secondary-600 hover:bg-secondary-600 hover:text-white focus:shadow-outline focus:outline-nonefont-bold py-2 px-8 rounded-full"
          type="submit"
        >
          Enviar
        </button>
      </div>
    </form>
  </div>