<div class="w-full mt-24 lg:mx-0 sm:mx-6">
    <div class="header">
      <h4 class="text-2xl font-semibold mb-6">Planning del evento</h4>
    </div>
    <ol class="items-center sm:flex">
      <li class="relative mb-6 sm:mb-0">
        <div class="flex items-center">
          <div
            class="z-10 flex items-center justify-center w-6 h-6 rounded-full ring-0 ring-white sm:ring-8 bg-primary-600 shrink-0"
          ></div>
          <div class="hidden sm:flex w-full bg-gray-200 h-0.5"></div>
        </div>
        <div class="mt-3 sm:pe-8">
          <h3 class="text-lg font-semibold text-gray-900">Ceremonia ⛪️</h3>
          <time class="block mb-2 text-sm font-normal leading-none text-gray-400"
            >18.00 - 19.00</time
          >
          <p class="text-base font-normal text-gray-500">
            Hermita de San Juan, La Carlota, Córdoba.
          </p>
        </div>
      </li>
      <li class="relative mb-6 sm:mb-0">
        <div class="flex items-center">
          <div
            class="z-10 flex items-center justify-center w-6 h-6 rounded-full ring-0 ring-white sm:ring-8 bg-primary-600 shrink-0"
          ></div>
          <div class="hidden sm:flex w-full bg-gray-200 h-0.5"></div>
        </div>
        <div class="mt-3 sm:pe-8">
          <h3 class="text-lg font-semibold text-gray-900">Cóctel 🍸</h3>
          <time class="block mb-2 text-sm font-normal leading-none text-gray-400"
            >19.30 - 22.00</time
          >
          <p class="text-base font-normal text-gray-500">
            Plaza de los Caídos, Córdoba.
          </p>
        </div>
      </li>
      <li class="relative mb-6 sm:mb-0">
        <div class="flex items-center">
          <div
            class="z-10 flex items-center justify-center w-6 h-6 rounded-full ring-0 ring-white sm:ring-8 bg-primary-600 shrink-0"
          ></div>
          <div class="hidden sm:flex w-full bg-gray-200 h-0.5"></div>
        </div>
        <div class="mt-3 sm:pe-8">
          <h3 class="text-lg font-semibold text-gray-900">Fiesta 🎉</h3>
          <time class="block mb-2 text-sm font-normal leading-none text-gray-400"
            >22.00 - 06.00</time
          >
          <p class="text-base font-normal text-gray-500">
            Sala de fiestas La Peineta, Córdoba.
          </p>
        </div>
      </li>
    </ol>
  </div>