<div class="card w-full flex flex-col">
  <div class="flex flex-col header justify-center p-4 mb-6">
    <h4 class="text-4xl font-semibold text-center">
      {{ selectedWedding.partner1name }} & {{ selectedWedding.partner2name }}
    </h4>
    <p class="text-center text-xl mb-4">
      Queremos invitarte a la celebración de nuestra boda. <br />
      ¡Esto hay que celebrarlo!
    </p>
    <img
      class="rounded-md m-auto max-w-[700px]"
      src="../../assets/images/cabecera-invitacion.png"
      alt=""
    />
  </div>
  <div class="big-block flex flex-row justify-around p-4">
    <div class="flex sm:flex-col md:flex-row">
      <div class="info flex flex-col">
        <div class="info-date flex mb-2">
          <div class="icon inline-block text-gray-800 hover:text-gray-500 mr-2">
            <i class="pi pi-calendar"></i>
          </div>
          <p>Será el {{ selectedWedding.date }}</p>
        </div>
        <div class="info-hour flex mb-2">
          <div class="icon inline-block text-gray-800 hover:text-gray-500 mr-2">
            <i class="pi pi-clock"></i>
          </div>
          <p>Empezará a las {{ selectedWedding.time }}</p>
        </div>
        <div class="info-location flex max-w-80 mb-2">
          <div class="icon inline-block text-gray-800 hover:text-gray-500 mr-2">
            <i class="pi pi-map-marker"></i>
          </div>
          <p>
            En {{ selectedWedding.address }}, {{ selectedWedding.address2 }},
            {{ selectedWedding.city }}, {{ selectedWedding.postalcode }},
            {{ selectedWedding.region }}
          </p>
        </div>
        <!-- <div class="info-details flex mb-2">
            <div class="icon inline-block text-gray-800 hover:text-gray-500 mr-2">
              <i class="pi pi-info-circle"></i>
            </div>
            <p>Es una boda Adults only</p>
          </div> -->
      </div>
    </div>
    <div class="form flex flex-col md:min-w-80">
      <div class="each-input mb-4">
        <div class="justify-center content-center">
          <label class="mb-1 md:mb-0 px-2" for="inline-full-name">
            Nombre
          </label>
        </div>
        <div>
          <input
            class="bg-secondary appearance-none rounded w-full py-2 px-4 leading-tight focus:outline-none text-white placeholder-white focus:border-purple-500"
            id="inline-full-name"
            type="text"
            placeholder="Nombre"
          />
        </div>
      </div>
      <div class="each-input mb-4">
        <div class="justify-center content-center">
          <label class="mb-1 md:mb-0 px-2" for="inline-full-name">
            Email
          </label>
        </div>
        <div>
          <input
            class="bg-secondary appearance-none rounded w-full py-2 px-4 leading-tight focus:outline-none text-white placeholder-white focus:border-purple-500"
            id="inline-email"
            type="text"
            placeholder="Email"
          />
        </div>
      </div>
      <div class="each-input mb-4">
        <div class="justify-center content-center">
          <label class="mb-1 md:mb-0 px-2" for="inline-full-name">
            Elige el menú que más te guste
          </label>
        </div>
        <div>
          <input
            class="bg-secondary appearance-none rounded w-full py-2 px-4 leading-tight focus:outline-none text-white placeholder-white focus:border-purple-500"
            id="inline-email"
            type="text"
            placeholder="Selecciona una opción de menú"
          />
        </div>
      </div>
      <div class="each-input mb-4">
        <div class="justify-center content-center">
          <label class="mb-1 md:mb-0 px-2" for="inline-full-name">
            ¿Tienes alguna alergia o restricción?
          </label>
        </div>
        <div>
          <input
            class="bg-secondary appearance-none rounded w-full py-2 px-4 leading-tight focus:outline-none text-white placeholder-white focus:border-purple-500"
            id="inline-email"
            type="text"
            placeholder="Alergias o restricciones"
          />
        </div>
      </div>

      <button
        class="m-auto shadow border-2 transition-all border-secondary-600 hover:bg-secondary-600 hover:text-white focus:shadow-outline focus:outline-nonefont-bold py-2 px-8 rounded-full"
        type="submit"
      >
        Enviar
      </button>
    </div>
  </div>
</div>