<main class="flex flex-col w-full mt-5 gap-2">

  <!-- Header of the table with name, new-form component and search bar -->
  <div class="header-t">
    <h4 class="text-2xl font-semibold mx-2">Mis eventos</h4>
    <div class="flex justify-end">

    <p-inputIcon
    [routerLink]="['/newevent']" 
    routerLinkActive="router-link-active" 
    pTooltip="Crear evento"
    tooltipPosition="left"
    styleClass="pi pi-plus"
    class="content-center mr-2 rounded-md py-1 px-2 cursor-pointer text-white hover:text-black bg-secondary"
    ></p-inputIcon>

      <p-iconField iconPosition="right" class="mr-0">
        <p-inputIcon styleClass="pi pi-search" />
        <input
          pInputText
          type="text"
          (input)="onInputChange($event)"
          placeholder="Buscar"
        />
      </p-iconField>
    </div>
  </div>



  @for (wedding of userWeddings; track wedding.id) {

    <button
      class="w-full py-4 px-8 bg-secondary hover:bg-secondary-400 transition-colors rounded-md"
      [ngClass]="{'bg-secondary-600': wedding.id == selectedWeddingId}"
      type="button"
      (click)="onSelectWedding(wedding.id)">
      
      <a class="flex justify-between" routerLink="/dashboard">
        id: {{ wedding.id }}
        <p class="text-xl font-semibold">{{ wedding.name }}</p>
        <p>{{ wedding.date }}</p>
      </a>
    </button>
    
  }
  
</main>