<main class="flex flex-col w-full mt-5 gap-2">
    <button
      class="w-full py-4 px-8 bg-secondary hover:bg-secondary-400 transition-colors rounded-md"
      type="button"
    >
      <a class="flex justify-between" routerLink="/dashboard">
        <p class="text-xl font-semibold">Boda de Álvaro y Lola</p>
        <p>22 de Junio de 2024</p>
      </a>
    </button>
    <button
      class="w-full py-4 px-8 bg-secondary hover:bg-secondary-400 transition-colors rounded-md"
      type="button"
    >
      <a class="flex justify-between" routerLink="/dashboard">
        <p class="text-xl font-semibold">Boda de Juan y Juanita</p>
        <p>3 de Abril de 2025</p>
      </a>
    </button>
    <button
      class="w-full py-4 px-8 bg-secondary hover:bg-secondary-400 transition-colors rounded-md"
      type="button"
    >
      <a class="flex justify-between" routerLink="/dashboard">
        <p class="text-xl font-semibold">Boda de Pepa y Pepita</p>
        <p>14 de Septiembre de 2024</p>
      </a>
    </button>
  </main>