<!-- Button -->
<p-inputIcon
pTooltip="Crear regalo"
tooltipPosition="top"
  styleClass="pi pi-plus"
  class="content-center mr-2 rounded-md py-1 px-2 cursor-pointer text-white hover:text-black bg-secondary"
  (click)="toggleModal()"
></p-inputIcon>

<!--ESTE ES EL MODAL P-DIALOG QUE HAY QUE DUPLICAR EN OTROS SITIOS -->
<div class="card flex flex-column align-items-center gap-2">
  <p-dialog 
      header="Crea o edita tus regalos" 
      [(visible)]="isModalOpen" 
      [style]="{ width: '28rem' }"
      [modal]="true"
      [draggable]="false"
      [resizable]="false"
  >
  <div class="grid grid-cols-1 gap-4">

      <!-- Name -->
      <div class="flex flex-col">
        <!-- <label class="block mb-2 text-sm font-medium">Nombre del regalo</label> -->
        <input pInputText 
        class="bg-secondary text-white p-2 w-full rounded-md placeholder:text-white"
        [placeholder]="formGift.name ? formGift.name : 'Escribe el nombre del regalo'"
        [(ngModel)]="formGift.name" 
        type="text" 
        required 
        minlength="4"/>
      </div>

      <!-- Accept and Cancel buttons -->
      <div class="w-full flex flex-row justify-between text-center">
        <button
          type="submit"
          class="btn btn-primary btn-block flex items-center mr-2 text-center shadow border-2 transition-all border-secondary-600 hover:bg-secondary-600 hover:text-white focus:shadow-outline focus:outline-nonefont-bold py-2 px-14 rounded-full"
          (click)="onSubmit()"
          (click)="acceptChanges()">
          Aceptar
        </button>
        <button
          type="button"
          class="btn btn-primary btn-block flex items-center text-center shadow border-2 transition-all border-primary-600 hover:bg-primary-600 hover:text-white focus:shadow-outline focus:outline-nonefont-bold py-2 px-14 rounded-full"
          (click)="clearFormFields()">
          Cancelar
        </button>
      </div>

    </div>
  </p-dialog>
</div>

<!-- Toast label -->
<p-toast position="bottom-center" key="bc"></p-toast>