<!-- Button -->
<p-inputIcon
  styleClass="pi pi-plus"
  class="content-center mr-2 rounded-md py-1 px-2 cursor-pointer text-white hover:text-black bg-secondary"
  (click)="toggleModal()"
></p-inputIcon>

@if(isModalOpen){
<!-- Main modal -->
<div
  id="crud-modal"
  tabindex="-1"
  aria-hidden="true"
  class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div
      class="relative bkground text-gray-800 rounded-lg shadow-lg backdrop-blur-md"
    >
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 rounded-t">
        <h3 class="text-lg font-semibold">Crea o edita tus regalos</h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-primary-600 hover:text-white rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
          data-modal-toggle="crud-modal"
          (click)="clearFormFields()"
        >
        <!-- (click)="toggleModal()" -->
          <span class="sr-only">Cerrar</span>
        </button>
      </div>
      <!-- Modal body -->
      <form (ngSubmit)="onSubmit()" class="p-4 md:p-5">
        <div class="grid gap-4 mb-4 grid-cols-2">
          <div class="col-span-2">
            <label for="name" class="block mb-2 text-sm font-medium"
              >Nombre del regalo</label
            >
            <input
              type="text"
              name="giftName"
              id="giftName"
              class="bg-secondary text-white p-2 w-full rounded-md placeholder:text-white"
              [placeholder]="formGift.name ? formGift.name : 'Escribe el nombre del regalo'"
              [(ngModel)]="formGift.name"
              required
              minlength="4"
            />
          </div>
        </div>
        <div class="w-full flex flex-row justify-between text-center">
          <button
            type="submit"
            class="btn btn-primary btn-block flex items-center mr-2 text-center shadow border-2 transition-all border-secondary-600 hover:bg-secondary-600 hover:text-white focus:shadow-outline focus:outline-nonefont-bold py-2 px-14 rounded-full"
            (click)="acceptChanges()"
          >
            Aceptar
          </button>
          <button
            type="button"
            class="btn btn-primary btn-block flex items-center text-center shadow border-2 transition-all border-primary-600 hover:bg-primary-600 hover:text-white focus:shadow-outline focus:outline-nonefont-bold py-2 px-14 rounded-full"
            (click)="clearFormFields()"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

}


<div class="card flex flex-column align-items-center gap-2">
  <p-dialog 
      header="Crea o edita tus regalos" 
      [(visible)]="isModalOpen" 
      [style]="{ width: '30vw' }"
      [modal]="true"
      [draggable]="false"
      [resizable]="false"
  >
  <div class="grid grid-cols-1 gap-4">

      <!-- Gift Name -->
      <div class="flex flex-col">
        <label class="block mb-2 text-sm font-medium">Nombre del regalo</label>
        <input pInputText 
        class="bg-secondary text-white p-2 w-full rounded-md placeholder:text-white"
        [placeholder]="formGift.name ? formGift.name : 'Escribe el nombre del regalo'"
        [(ngModel)]="formGift.name" 
        type="text" 
        required 
        minlength="4"/>
      </div>

      <!-- 
      <div class="flex flex-col">
        <label class="text-gray-700 font-semibold text-left">To</label>
        <input pInputText 
        [(ngModel)]="emailInput" 
        [placeholder]=emailPlaceholder 
        class="input-field" 
        type="text" 
        required />
      </div>
      
      <div class="flex flex-col">
        <label class="text-gray-700 font-semibold text-left">Message</label>
        <textarea pInputTextarea 
        [(ngModel)]="messageInput" 
        class="input-field" 
        type="text" 
        required></textarea>
      </div> -->

      <div class="w-full flex flex-row justify-between text-center">
        <button
          type="submit"
          class="btn btn-primary btn-block flex items-center mr-2 text-center shadow border-2 transition-all border-secondary-600 hover:bg-secondary-600 hover:text-white focus:shadow-outline focus:outline-nonefont-bold py-2 px-14 rounded-full"
          (click)="acceptChanges()"
        >
          Aceptar
        </button>
        <button
          type="button"
          class="btn btn-primary btn-block flex items-center text-center shadow border-2 transition-all border-primary-600 hover:bg-primary-600 hover:text-white focus:shadow-outline focus:outline-nonefont-bold py-2 px-14 rounded-full"
          (click)="clearFormFields()"
        >
          Cancelar
        </button>
      </div>
      
      <!-- <button 
        type="button"
        class="bg-[#5236AB] text-white py-2 px-4 rounded-md mx-auto block mt-8 col-span-full"
        (click)="onSubmit()">
        <label>Aceptar</label>
      </button> -->


    </div>
  </p-dialog>
</div>
