<header
  class="flex flex-wrap sm:justify-start xs:justify-end sm:flex-nowrap w-full bg-gray-300 text-sm py-4"
>
  <nav
    class="max-w-5xl w-full mx-auto sm:flex sm:items-center sm:justify-between"
    aria-label="Global"
  >
    <a
      class="flex-none absolute top-10 bg-primary pt-1 pb-2 px-2 rounded-lg xs:ml-4 md:w-[200px] xs:w-[150px]"
      href="#"
    >
      <img src="../assets/images/Logo.svg" alt="Logo" />
    </a>
    <div class="flex items-center justify-end mr-4">
      <div class="sm:hidden">
        <button
          type="button"
          class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
          data-hs-collapse="#navbar-image-2"
          aria-controls="navbar-image-2"
          aria-label="Toggle navigation"
          (click)="toggleMenu()"
        >
        </button>
      </div>
    </div>
    <div
      id="navbar-image-2"
      class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:block"
    >
      <div
        class="flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mr-4 sm:mt-0 sm:ps-5"
        routerLinkActive="active"
      >
        <!--Case admin is loggued-->
        @if(adminLoggedIn){
          <a
          routerLink="/users"
          class="font-medium text-gray-600 hover:text-gray-400 bg-white py-1 px-6 rounded-full"
          href="#"
          >Usuarios</a
        >
        <a
          routerLink="/weddings"
          class="font-medium text-gray-600 hover:text-gray-400 bg-white py-1 px-6 rounded-full"
          href="#"
          >Bodas</a
        >
        <!--Case normal user is loggued-->
        } @else { 
          <a
            routerLink="/benefits"
            class="font-medium text-gray-600 hover:text-gray-400 bg-white py-1 px-6 rounded-full"
            href="#"
            >Servicios</a
          >
          <a
            routerLink="/dashboard"
            class="font-medium text-gray-600 hover:text-gray-400 bg-white py-1 px-6 rounded-full"
            href="#"
            >Mis Eventos</a
          >
        }
        @if(loggedIn) {
        <a
          (click)="logout()"
          class="font-medium text-gray-600 hover:text-gray-400 bg-white py-1 px-6 rounded-full"
          href="#"
          >Cerrar sesión</a
        >
        } @else {
        <a
          routerLink="/login"
          class="font-medium text-gray-600 hover:text-gray-400 bg-white py-1 px-6 rounded-full"
          href="#"
          >Iniciar sesión</a
        >
        }

        <a
          pTooltip="Mi cuenta"
          tooltipPosition="bottom"
          routerLink="/profile"
          class="font-medium text-gray-600 hover:bg-primary-600 bg-primary-400 py-1 px-2 rounded-full"
          href="#"
          >
          <i class="pi pi-user" 
          style="color: white"
          >
          </i></a
        >
      </div>
    </div>
  </nav>
  <div
    [ngClass]="{ block: isMenuOpen, hidden: !isMenuOpen }"
    class="op100 absolute top-0 left-0 w-full h-64 bg-primary-400 bg-opacity-100 z-50 items-center text-center justify-center transition-all duration-300 sm:hidden"
  >
    <div class="flex flex-col justify-center text-center m-auto mt-6">
      <button
        type="button"
        class="text-white hover:bg-primary-600 hover:text-white rounded-md text-sm w-8 h-8 flex items-center justify-center m-auto mb-4"
        (click)="toggleMenu()">
      </button>
      <a
        routerLink="/tools"
        (click)="toggleMenu()"
        class="font-medium text-gray-600 hover:text-gray-400 py-1 px-6 mb-4"
        href="#"
        >Servicios</a
      >
      <a
        routerLink="/dashboard"
        (click)="toggleMenu()"
        class="font-medium text-gray-600 hover:text-gray-400 py-1 px-6 mb-4"
        href="#"
        >Mi Proyecto</a
      >
      @if(loggedIn) {
      <a
        (click)="logout()"
        (click)="toggleMenu()"
        class="ont-medium text-gray-600 hover:text-gray-400 py-1 px-6 mb-4"
        href="#"
        >Cerrar sesión</a
      >
      } @else {
      <a
        routerLink="/login"
        (click)="toggleMenu()"
        class="font-medium text-gray-600 hover:text-gray-400 py-1 px-6 mb-4"
        href="#"
        >Iniciar sesión</a
      >
      }
    </div>
  </div>
</header>