<div class="w-full flex justify-center m-auto gap-10 mt-10">
    <div class="left flex flex-col justify-center items-start">
      <h4 class="text-3xl font-bold text-start max-w-60">
        No hay ninguna boda creada
      </h4>
      <button
        class="shadow border-2 transition-all border-secondary-600 hover:bg-secondary-600 hover:text-white focus:shadow-outline focus:outline-nonefont-bold py-2 px-8 rounded-full mt-6"
        type="button"
      >
        Crear boda
      </button>
    </div>
    <div class="img w-[450px]">
      <img src="../../../assets/images/not-found.png" alt="" />
    </div>
  </div>