<div class="w-full">
    <div class="text-center">
      <h4 class="text-2xl font-bold mt-2">Tu cuenta</h4>
      <p>Modifica y guarda tus datos</p>
    </div>
    <form
      class="w-full max-w-[600px] flex flex-col mt-6 justify-center m-auto"
      action=""
    >
      <div
        class="form flex flex-col md:flex-row mx-4 sm:mx-0 justify-center md:gap-3"
      >
        <div class="left">
          <div class="flex flex-col mb-6 justify-center content-center">
            <div class="justify-center content-center">
              <label class="mb-1 md:mb-0" for="inline-full-name"> Nombre </label>
            </div>
            <div>
              <input
                class="bg-secondary appearance-none rounded w-full py-2 px-4 leading-tight focus:outline-none text-white placeholder-white focus:border-purple-500"
                id="inline-full-name"
                type="text"
                placeholder="Tu nombre"
              />
            </div>
          </div>
          <div class="flex flex-col mb-6 justify-center content-center">
            <div class="justify-center content-center">
              <label class="mb-1 md:mb-0" for="inline-full-name">
                Apellidos
              </label>
            </div>
            <div class="flex gap-3">
              <input
                class="bg-secondary appearance-none rounded w-full py-2 px-4 leading-tight focus:outline-none text-white placeholder-white focus:border-purple-500"
                id="inline-full-name"
                type="text"
                placeholder="Apellido 1"
              />
              <input
                class="bg-secondary appearance-none rounded w-full py-2 px-4 leading-tight focus:outline-none text-white placeholder-white focus:border-purple-500"
                id="inline-full-name"
                type="text"
                placeholder="Apellido 2"
              />
            </div>
          </div>
          <div class="flex flex-col mb-6 justify-center content-center">
            <div class="justify-center content-center">
              <label class="mb-1 md:mb-0" for="inline-full-name"> Email </label>
            </div>
            <div>
              <input
                class="bg-secondary appearance-none rounded w-full py-2 px-4 leading-tight focus:outline-none text-white placeholder-white focus:border-purple-500"
                id="inline-full-name"
                type="text"
                placeholder="Email"
              />
            </div>
          </div>
        </div>
        <div class="right">
          <div class="flex flex-col mb-6 justify-center content-center">
            <div class="justify-center content-center">
              <label class="mb-1 md:mb-0" for="inline-full-name">
                Dirección
              </label>
            </div>
            <div>
              <input
                class="bg-secondary appearance-none rounded w-full py-2 px-4 leading-tight focus:outline-none text-white placeholder-white focus:border-purple-500"
                id="inline-full-name"
                type="text"
                placeholder="Calle / Av. / Camino ..."
              />
            </div>
          </div>
  
          <div class="DIRECCION flex flex-row gap-2">
            <div class="flex flex-col mb-6 justify-center content-center">
              <div class="justify-center content-center">
                <label class="mb-1 md:mb-0" for="inline-full-name">
                  Código Postal
                </label>
              </div>
              <div>
                <input
                  class="bg-secondary appearance-none rounded w-full py-2 px-4 leading-tight focus:outline-none text-white placeholder-white focus:border-purple-500"
                  id="inline-full-name"
                  type="text"
                  placeholder="Código postal"
                />
              </div>
            </div>
            <div class="flex flex-col mb-6 justify-center content-center">
              <div class="justify-center content-center">
                <label class="mb-1 md:mb-0" for="inline-full-name">
                  Provincia
                </label>
              </div>
              <div>
                <input
                  class="bg-secondary appearance-none rounded w-full py-2 px-4 leading-tight focus:outline-none text-white placeholder-white focus:border-purple-500"
                  id="inline-full-name"
                  type="text"
                  placeholder="Provincia"
                />
              </div>
            </div>
          </div>
          <div class="flex flex-col mb-6 justify-center content-center">
            <div class="justify-center content-center">
              <label class="mb-1 md:mb-0" for="inline-full-name"> Ciudad </label>
            </div>
            <div>
              <input
                class="bg-secondary appearance-none rounded w-full py-2 px-4 leading-tight focus:outline-none text-white placeholder-white focus:border-purple-500"
                id="inline-full-name"
                type="text"
                placeholder="Ciudad"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        class="btn flex flex-col md:flex-row justify-center m-auto text-nowrap gap-3"
      >
        <button
          class="shadow border-2 transition-all border-secondary-600 hover:bg-secondary-600 hover:text-white focus:shadow-outline focus:outline-nonefont-bold py-2 px-8 rounded-full"
          type="submit"
        >
          Guardar cambios
        </button>
        <button
          class="shadow border-2 transition-all border-primary-600 hover:bg-primary-600 hover:text-white focus:shadow-outline focus:outline-nonefont-bold py-2 px-8 rounded-full"
          type="submit"
        >
          Descartar cambios
        </button>
      </div>
    </form>
  </div>