<div class="w-full m-auto lg:max-w-96">
  <div class="text-center">
    <h4 class="text-2xl font-bold mt-2">Inicia sesión</h4>
    <p>o crea tu cuenta</p>
  </div>

  <form
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <div class="form-group flex flex-col mt-5">
      <label for="username">Nombre de usuario</label>
      <input
        id="username"
        type="text"
        class="form-control bg-secondary text-white rounded-md py-1 px-4"
        name="username"
        [(ngModel)]="form.username"
        required
        #username="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
      />
      <div
        *ngIf="username.errors && f.submitted"
        class="invalid-feedback text-xs text-primary-600"
      >
        El usuario es requerido
      </div>
    </div>
    <div class="form-group flex flex-col mt-5">
      <label for="password">Contraseña</label>
      <input
        id="password"
        type="password"
        class="form-control bg-secondary text-white rounded-md py-1 px-4"
        name="password"
        [(ngModel)]="form.password"
        required
        minlength="6"
        #password="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
      />
      <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
        <div
          *ngIf="password.errors['required']"
          class="text-xs text-primary-600"
        >
          La contraseña es requerida
        </div>
        <div
          *ngIf="password.errors['minlength']"
          class="text-xs text-primary-600"
        >
          La contraseña debe ser de al menos 6 caracteres
        </div>
      </div>
    </div>

    <div class="form-group">
      <button
        class="btn btn-primary btn-block shadow border-2 transition-all border-secondary-600 hover:bg-secondary-600 hover:text-white focus:shadow-outline focus:outline-nonefont-bold py-2 px-8 rounded-full"
        style="margin-top: 20px"
      >
        Iniciar Sesión
      </button>
    </div>
  </form>
</div>