<div class="w-full content-center m-auto my-5 max-w-5xl">
  <div class="mx-4">
    <h4 class="text-2xl font-bold mt-5">Servicios y herramientas</h4>
    <p class="mb-4">
      En Guestify te proponemos todas las herramientas necesarias para gestionar
      los invitados de ese día tan especial y una experiencia de gestión de
      eventos única
    </p>
    <main class="mt-4">
      <p class="mt-5 px-2 py-4 bg-secondary rounded-md">
        <b>Personaliza tu web</b> Crea una página web para tu evento con toda la
        información que tus invitados necesitan.
      </p>
      <p class="px-2 py-4 bg-secondary rounded-md mt-2">
        <b>Gestiona tu lista de invitados</b> Controla y organiza tu lista de
        invitados de manera fácil y eficiente.
      </p>
      <p class="px-2 py-4 bg-secondary rounded-md mt-2">
        <b>Envía invitaciones personalizadas</b> Diseña y envía invitaciones
        únicas para cada uno de tus invitados.
      </p>
      <p class="px-2 py-4 bg-secondary rounded-md mt-2">
        <b>Menús y alergias</b> Gestiona los menús de tu evento, teniendo en
        cuenta las alergias e intolerancias.
      </p>
      <p class="px-2 py-4 bg-secondary rounded-md mt-2">
        <b>Gestiona tu nube de fotos</b> Almacena y comparte las fotos de tu
        evento en una nube segura.
      </p>
      <p class="px-2 py-4 bg-secondary rounded-md mt-2">
        <b>Haz tu lista de regalos</b> Crea una lista de regalos para que tus
        invitados sepan qué regalarte.
      </p>
  
      <p class="my-6">
        Queremos que disfrutes y sientas que estás creando la mejor experiencia,
        por eso, puedes preguntarnos por el uso de nuestras herramientas o
        proponer los cambios que creas que puedan hacer de este proceso un viaje
        más agradable.
      </p>
    </main>

    <a
    routerLink="/contact"
    class="shadow border-2 transition-all border-secondary-600 hover:bg-secondary-600 hover:text-white focus:shadow-outline focus:outline-nonefont-bold py-2 px-8 rounded-full"
    type="button"
  >
    Contacto
  </a>
  </div>
  </div>