
<div class="container">

    <div class="bg-gray-500">
      <h1 class="my-10">Login</h1>

    </div>
  
  
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >

      <div class="form-group">
        <label for="email">Mail</label>
        <input
          id="email"
          type="text"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
        />
        <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
          El email es requerido
        </div>
      </div>

      <div class="form-group">
        <label for="username">Username</label>
        <input
          id="username"
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
        />
        <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
          El username es requerido
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
          <div *ngIf="password.errors['required']">La password es requerida</div>
          <div *ngIf="password.errors['minlength']">
            La password debe ser de al menos 6 caracteres
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <button class="py-2 px-5 bg-secondary-400">
          Login
        </button>
      </div>
    </form>
  </div>
  