<div class="w-full grid grid-cols-2 auto-rows-min gap-4 px-10">
    <div class="grid col-start-1 col-span-2 sm:mt-8 md:mt-0">
      <h4 class="text-3xl font-bold mx-auto">¿Tienes dudas?</h4>
      <p class="mx-auto">Contáctanos y te las resolvemos.</p>
    </div>
    <div class="grid col-start-1 col-span-1 row-start-2">
      <form
        class="w-full max-w-lg flex flex-col m-auto content-center justify-center"
      >
        <div class="flex flex-col mb-6 justify-center content-center">
          <div class="md:w-1/3 justify-center content-center">
            <label class="block mb-1 md:mb-0" for="inline-full-name">
              Nombre
            </label>
          </div>
          <div>
            <input
              class="bg-secondary appearance-none rounded w-full py-2 px-4 leading-tight focus:outline-none text-white placeholder-white focus:border-purple-500"
              id="inline-full-name"
              type="text"
              placeholder="Nombre"
            />
          </div>
        </div>
        <div class="flex flex-col mb-6">
          <div class="md:w-1/3">
            <label class="block mb-1 md:mb-0" for="inline-mail"> Email </label>
          </div>
          <div>
            <input
              class="bg-secondary appearance-none rounded w-full py-2 px-4 leading-tight focus:outline-none text-white placeholder-white focus:border-purple-500"
              id="inline-email"
              type="email"
              placeholder="example@gmail.com"
            />
          </div>
        </div>
        <div class="flex flex-col mb-6">
          <div class="md:w-1/3">
            <label class="mb-1 md:mb-0" for="inline-mail"> Hablemos </label>
          </div>
          <div>
            <textarea
              rows="4"
              class="resize-none scroll-m-0 bg-secondary appearance-none rounded w-full py-2 px-4 leading-tight focus:outline-none text-white placeholder-white focus:border-purple-500"
              id="inline-text"
              type="text"
              placeholder="Tu mensaje"
            ></textarea>
          </div>
        </div>
        <div class="w-full md:flex md:items-center">
          <div>
            <button
              class="shadow border-2 transition-all border-secondary-600 hover:bg-secondary-600 hover:text-white focus:shadow-outline focus:outline-nonefont-bold py-2 px-8 rounded-full"
              type="submit"
            >
              Enviar
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="md:grid col-start-2 col-span-1 row-start-2">
      <img
        class="w-full rounded-md max-h-80 object-cover"
        src="../../../assets/images/contacto-img.png"
        alt=""
      />
    </div>
  </div>