<div class="flex flex-col justify-center mt-8 md:mt-2 lg:mt-0 mx-8 lg:mx-0 ">
  <h4 class="text-4xl font-bold mx-auto">Álvaro y Lola</h4>
  <div class="w-full content-center flex md:flex-row flex-col-reverse justify-between mt-2 gap-2">
    <div class="flex-1 bg-secondary flex rounded-md">
      <ul routerLink="active" class="flex md:flex-col flex-row sm:p-0 md:p-2 lg:p-6 content-around m-auto">
        <li class="p-2 m-auto"><a 
          [routerLink]="isAnyWeddingSelected ? 'guests' : null"
          [ngClass]="{'disabled-link': !isAnyWeddingSelected}" 
          routerLinkActive="router-link-active"  
          href="#">Invitados</a>
        </li>
        <li class="p-2 m-auto"><a 
          [routerLink]="isAnyWeddingSelected ? 'todos' : null"
          [ngClass]="{'disabled-link': !isAnyWeddingSelected}" 
          routerLinkActive="router-link-active"  
          href="#">Tareas</a>
        </li>
        <!-- <li class="p-2 m-auto"><a 
          [routerLink]="isAnyWeddingSelected ? 'menus' : null"
          [ngClass]="{'disabled-link': !isAnyWeddingSelected}" 
          routerLinkActive="router-link-active"  
          href="#">Menus</a>
        </li> -->
        <li class="p-2 m-auto"><a 
          [routerLink]="isAnyWeddingSelected ? 'planning' : null"
          [ngClass]="{'disabled-link': !isAnyWeddingSelected}" 
          routerLinkActive="router-link-active"  
          href="#">Planning</a>
        </li>
        <li class="p-2 m-auto"><a 
          [routerLink]="isAnyWeddingSelected ? 'gifts' : null"
          [ngClass]="{'disabled-link': !isAnyWeddingSelected}" 
          routerLinkActive="router-link-active"  
          href="#">Regalos</a>
        </li>
        <li class="p-2 m-auto"><a 
          [routerLink]="isAnyWeddingSelected ? 'pictures' : null"
          [ngClass]="{'disabled-link': !isAnyWeddingSelected}" 
          routerLinkActive="router-link-active"  
          href="#">Fotos</a>
        </li>
      </ul>
    </div>
    <div class="flex-2">
      <img class="rounded-md aspect-[16/5] sm:aspect-[16/6] lg:aspect-[16/5] object-cover" src="../../../assets/images/header-dashboard.jpg" alt="">
    </div>
  </div>
</div>
@if (!!userWeddings) {
  <app-overview
  [userWeddings]='userWeddings'>
  </app-overview>
}
<router-outlet></router-outlet>