
<!-- ========== FOOTER ========== -->
<footer class=" bg-primary">
  <!-- Content -->
  <div class="max-w-5xl mx-auto grid py-5"> <!--max-w-5xl -->
    <!-- Grid -->
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-5 lg:py-5">
      <div routerLinkActive="active" class="grid justify-center items-center">
        <a routerLink="/about" class="font-semibold text-gray-900" href="#">Quienes somos</a>
      </div>
      <div routerLinkActive="active" class="grid justify-center items-center">
        <a routerLink="/faq"  class="font-semibold text-gray-900" href="#">Preguntas frecuentes</a>
      </div>
      <div routerLinkActive="active" class="grid justify-center items-center">
        <a routerLink="/contact" class="font-semibold text-gray-900" href="#">Contacto</a>
      </div>
    </div>
    <!-- End Grid -->

    <div class="pt-5 mt-5 border-t border-gray-900">
      <div class="flex flex-col lg:flex-row justify-between">
        
        <div class="flex items-center max-lg:mb-4 lg:me-10">
          <div class="text-sm">
            <a class="text-gray-600 hover:text-gray-800" href="#">Todos los derechos reservados © Hector Lopez 2024</a>
          </div>
        </div>

        <div class="flex justify-center">
          <!-- Social Brands -->
          <div class="space-x-4">
            <a class="inline-block text-gray-500 hover:text-gray-800" href="#">
              <i class="pi pi-whatsapp"></i>
            </a>
            <a class="inline-block text-gray-500 hover:text-gray-800" href="#">
              <i class="pi pi-facebook"></i>
            </a>
            <a class="inline-block text-gray-500 hover:text-gray-800" href="#">
              <i class="pi pi-instagram"></i>
            </a>
            <a class="inline-block text-gray-500 hover:text-gray-800" href="#">
              <i class="pi pi-twitter"></i>
            </a>
          </div>
          <!-- End Social Brands -->
        </div>
        <!-- End Col -->
      </div>
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->