
<!-- ========== FOOTER ========== -->
<footer class="my-0 mx-auto w-full py-10 px-4 sm:px-6 lg:px-8 flex flex-1 justify-center bg-primary">
  <!-- Content -->
  <div class="max-w-5xl grid"> <!--max-w-5xl -->
    <!-- Grid -->
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mx-0 mb-10">
      <div>
        <h4 class="text-center text-xs font-semibold text-gray-900">Quienes somos</h4>
      </div>
      <div>
        <h4 class="text-center text-xs font-semibold text-gray-900">Preguntas frecuentes</h4>
      </div>
      <div>
        <h4 class="text-center text-xs font-semibold text-gray-900">Contacto</h4>
      </div>
    </div>
    <!-- End Grid -->

    <div class="pt-5 mt-5 border-t border-gray-900">
      <div class="flex flex-col lg:flex-row justify-between">
        
        <div class="flex items-center max-lg:mb-4 lg:me-10">
          <div class="text-sm">
            <a class="text-gray-600 hover:text-gray-800" href="#">Todos los derechos reservados © Hector Lopez 2024</a>
          </div>
        </div>

        <div class="flex justify-center">
          <!-- Social Brands -->
          <div class="space-x-4">
            <a class="inline-block text-gray-500 hover:text-gray-800" href="#">
              <i class="pi pi-whatsapp"></i>
            </a>
            <a class="inline-block text-gray-500 hover:text-gray-800" href="#">
              <i class="pi pi-facebook"></i>
            </a>
            <a class="inline-block text-gray-500 hover:text-gray-800" href="#">
              <i class="pi pi-instagram"></i>
            </a>
            <a class="inline-block text-gray-500 hover:text-gray-800" href="#">
              <i class="pi pi-twitter"></i>
            </a>
          </div>
          <!-- End Social Brands -->
        </div>
        <!-- End Col -->
      </div>
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->