<div class="w-full max-w-5xl">
  <header class="mx-4 mb-16">
    <div
      class="flex xs:flex-col md:flex-row justify-center content-center gap-6 mx-10"
    >
      <h2
        class="xs:text-4xl md:text-5xl font-bold md:text-left xs:text-center mb-4 content-center -z-10"
      >
        ¡Por que lo mejor de tu boda es con quien la compartes!
      </h2>
      <div
        id="imgPortada"
        class="col-start-2 w-full -z-10 aspect-square rounded-md m-auto content-center xs:aspect-video md:aspect-square object-fill"
      ></div>
    </div>

    <div class="w-full">
      <h4 class="text-2xl text-center mx-4 mt-6">
        En Guestify te proponemos todas las herramientas necesarias para
        gestionar los invitados de ese día tan especial.
      </h4>
    </div>
  </header>

  <section></section>

  <main
    class="grid gap-5 xs:grid-cols-2 xs:grid-rows-3 md:grid-cols-3 md:grid-rows-2 xs:mx-8"
  >
    <div
      class="col-start-1 row-start-1 h-24 p-5 content-end bg-secondary rounded"
    >
      <p>Personaliza tu web</p>
    </div>
    <div class="col-start-2 row-start-1 p-5 content-end bg-secondary rounded">
      <p>Gestiona tu lista de invitados</p>
    </div>
    <div
      class="col-start-1 md:col-start-3 row-start-2 md:row-start-1 p-5 content-end bg-secondary rounded"
    >
      <p>Envía invitaciones personalizadas</p>
    </div>
    <div
      class="col-start-2 row-start-2 md:col-start-1 md:row-start-2 p-5 content-end bg-secondary rounded"
    >
      <p>Menús, alergias, intolerancias.</p>
    </div>
    <div
      class="col-start-1 md:col-start-2 row-start-3 md:row-start-2 p-5 content-end bg-secondary rounded"
    >
      <p>Gestiona tu propia nube de fotos</p>
    </div>
    <div
      class="col-start-2 md:col-start-3 row-start-3 md:row-start-2 p-5 content-end bg-secondary rounded"
    >
      <p>Haz tu lista de regalos</p>
    </div>
  </main>
</div>