
<div>
    <header class="grid grid-cols-2 gap-16 mb-16">
        <div class="col-start-1 content-center">
            <h1 class="text-5xl font-bold">¡Por que lo mejor de tu boda es con quien la compartes!</h1>
        </div>
        <div class="col-start-2 w-full aspect-square bg-gray-300">
            <img src="" alt="imagen">
        </div>
        <div class="col-start-1 col-span-2">
            <h1 class="text-4xl text-center">En Guestify te proponemos todas las herramientas necesarias para gestionar los invitados de ese día tan especial.</h1>
        </div>
    </header>
    <section>

    </section>
    <main class="grid grid-cols-3 grid-rows-2 gap-5">
        <div class="col-start-1 h-24 p-5 content-end bg-secondary rounded">
            <p>Personaliza tu web</p>    
        </div>
        <div class="col-start-2 p-5 content-end bg-secondary rounded">
            <p>Gestiona tu lista de invitados</p>    
        </div>
        <div class="col-start-3 p-5 content-end bg-secondary rounded">
            <p>Envía invitaciones personalizadas</p>    
        </div>
        <div class="col-start-1 row-start-2 p-5 content-end bg-secondary rounded">
            <p>Menús, alergias, intolerancias.</p>    
        </div>
        <div class="col-start-2 row-start-2 p-5 content-end bg-secondary rounded">
            <p>Gestiona tu propia nube de fotos</p>    
        </div>
        <div class="col-start-3 row-start-2 p-5 content-end bg-secondary rounded">
            <p>Haz tu lista de regalos</p>    
        </div>
    </main>
</div>